@model RecipesListViewModel

@{ @*ViewData["Title"] = "Create Recipe";*@ }


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-8">
            <partial name="CreatePartial" />
        </div>
        @if (Model.Recipe == null)
        {
    <div class="col-xl-8">
        <partial name="PartialCuisine" />
    </div>
    }
                </div>

</div>

