@model RecipeSite.Models.Recipe;

@{
    ViewData["Title"] = "Delete Recipe";
}

<h2>Recipe Deleted!</h2>

<div class="container">
    <div class="center-div">

        <h2>Recipe Deleted!</h2>

    </div>
</div>

