
@{
    ViewData["Title"] = "ReviewRecipe";
}

<h2>Review Recipe</h2>


<body>
<div class="center-div">
    <p>

    </p>
</div>

<div class="container">
    <textarea class="form-control" rows="4"></textarea>
    <p>

    </p>
</div>

<button class="btn btn-success" type="submit">Review</button>
<a class="btn btn-danger" asp-action="RecipeList">Cancel</a>
</body>